# **House Price Prediction and Impacting Factors in England**

*This paper* 
>每个section添加下面的链接

| [1. Introduction](#1.-Introduction) | [2. Literature Review](#2.-Literature-Review) | [3. Research Question](#3.-Research-Question) | [4. Data](#4.-Data) | [5. Methodology](#5.-Methodology) | [6. Results and Discussion](#6.-Results-and-Discussion) | [7. Conclusion](#7.-Conclusion) | [Bibliography](#Bibliography) |

---

## 1. Introduction

house price prediction is regression problem
supervised learning

In [1]:
# Import time for measuring the execution time of the program
import time

start_time = time.time()

In [2]:
# Import the packages for data manipulation and processing
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

pd.set_option("display.max_rows", 300)  # specifies number of rows to show
pd.options.display.float_format = (
    "{:40,.4f}".format
)  # specifies default number format to 4 decimal places
plt.style.use("ggplot")  # specifies that graphs should use ggplot styling
%matplotlib inline

## 2. Literature Review

## 3. Research Question

## 4. Data

The data is obtained from HM Land Registry Open Data, which contains house price paid data in England and Wales in 2021

### 4.1 Data Cleaning

add column headers, 
import dataset from
from the data info, it can be seen that the transaction unique identifier is object, which can be convert to integer transaction ID for further analysis

In [3]:
# Import the dataset
df = pd.read_csv("Data/Price_Paid_Data_2021.csv")
df

,Transaction_unique_identifier,Price,Date_of_Transfer,Postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPD_Category_Type
0,{C6209F5F-3182-295E-E053-6C04A8C0DDCC},270000,2021/3/11 0:00,CM18 7JN,T,N,F,23,NaN,CORNER MEADOW,NaN,HARLOW,HARLOW,ESSEX,A
1,{C6209F5F-3184-295E-E053-6C04A8C0DDCC},246000,2021/6/4 0:00,SS8 8JW,D,N,F,22,NaN,LIMETREE ROAD,NaN,CANVEY ISLAND,CASTLE POINT,ESSEX,A
2,{C6209F5F-3185-295E-E053-6C04A8C0DDCC},250000,2021/4/9 0:00,CM2 8QL,T,N,F,25,NaN,THE STREET,GALLEYWOOD,CHELMSFORD,CHELMSFORD,ESSEX,A
3,{C6209F5F-3186-295E-E053-6C04A8C0DDCC},660000,2021/5/26 0:00,CO6 1QU,D,N,F,3,NaN,GARDENERS ROW,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A
4,{C6209F5F-3187-295E-E053-6C04A8C0DDCC},567500,2021/4/9 0:00,SS6 9NS,D,N,F,6,NaN,SAXON CLOSE,NaN,RAYLEIGH,ROCHFORD,ESSEX,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944722,{CD5A9DCB-FAD5-310A-E053-6C04A8C00A1F},325000,2021/5/28 0:00,ME10 4AG,T,N,F,19,NaN,HONESTY CLOSE,NaN,SITTINGBOURNE,SWALE,KENT,A
944723,{CD5A9DCB-FAD8-310A-E053-6C04A8C00A1F},355000,2021/5/28 0:00,ME12 3TD,D,N,F,31,NaN,CHARLOCK DRIVE,MINSTER ON SEA,SHEERNESS,SWALE,KENT,A
944724,{CD5A9DCB-FAD9-310A-E053-6C04A8C00A1F},540000,2021/6/25 0:00,TN9 2NJ,D,N,F,93,NaN,JUDD ROAD,NaN,TONBRIDGE,TONBRIDGE AND MALLING,KENT,A
944725,{CD5A9DCB-FADA-310A-E053-6C04A8C00A1F},175000,2021/7/14 0:00,CT17 9PU,D,N,F,7,NaN,QUEENS AVENUE,NaN,DOVER,DOVER,KENT,A
944726,{CD5A9DCB-FADC-310A-E053-6C04A8C00A1F},250000,2021/5/14 0:00,ME16 8LL,T,N,F,149,NaN,MILTON STREET,NaN,MAIDSTONE,MAIDSTONE,KENT,A

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944727 entries, 0 to 944726
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Transaction_unique_identifier  944727 non-null  object
 1   Price                          944727 non-null  int64
 2   Date_of_Transfer               944727 non-null  object
 3   Postcode                       941896 non-null  object
 4   Property_Type                  944727 non-null  object
 5   Old/New                        944727 non-null  object
 6   Duration                       944727 non-null  object
 7   PAON                           944727 non-null  object
 8   SAON                           103127 non-null  object
 9   Street                         926258 non-null  object
 10  Locality                       360019 non-null  object
 11  Town/City                      944727 non-null  object
 12  District                       944727 non-null  object
 13  County                         944727 non-null  object
 14  PPD_Category_Type              944727 non-null  object
dtypes: int64(1), object(14)
memory usage: 108.1+ MB

There are some house postcodes missing from the summary table, which will be excluded. And since only England data will be investigated, Wales data will be excluded.

In [6]:
# Drop rows with NA postcode
df = df.dropna(subset = ['Postcode']) 

# Drop rows with Wales Postcode
df = df[df.Postcode.str.startswith(('CF', 'LD', 'LL', 'NP', 'SA', 'SY')) == False]

df

,Transaction_unique_identifier,Price,Date_of_Transfer,Postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPD_Category_Type
0,{C6209F5F-3182-295E-E053-6C04A8C0DDCC},270000,2021/3/11 0:00,CM18 7JN,T,N,F,23,NaN,CORNER MEADOW,NaN,HARLOW,HARLOW,ESSEX,A
1,{C6209F5F-3184-295E-E053-6C04A8C0DDCC},246000,2021/6/4 0:00,SS8 8JW,D,N,F,22,NaN,LIMETREE ROAD,NaN,CANVEY ISLAND,CASTLE POINT,ESSEX,A
2,{C6209F5F-3185-295E-E053-6C04A8C0DDCC},250000,2021/4/9 0:00,CM2 8QL,T,N,F,25,NaN,THE STREET,GALLEYWOOD,CHELMSFORD,CHELMSFORD,ESSEX,A
3,{C6209F5F-3186-295E-E053-6C04A8C0DDCC},660000,2021/5/26 0:00,CO6 1QU,D,N,F,3,NaN,GARDENERS ROW,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A
4,{C6209F5F-3187-295E-E053-6C04A8C0DDCC},567500,2021/4/9 0:00,SS6 9NS,D,N,F,6,NaN,SAXON CLOSE,NaN,RAYLEIGH,ROCHFORD,ESSEX,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944722,{CD5A9DCB-FAD5-310A-E053-6C04A8C00A1F},325000,2021/5/28 0:00,ME10 4AG,T,N,F,19,NaN,HONESTY CLOSE,NaN,SITTINGBOURNE,SWALE,KENT,A
944723,{CD5A9DCB-FAD8-310A-E053-6C04A8C00A1F},355000,2021/5/28 0:00,ME12 3TD,D,N,F,31,NaN,CHARLOCK DRIVE,MINSTER ON SEA,SHEERNESS,SWALE,KENT,A
944724,{CD5A9DCB-FAD9-310A-E053-6C04A8C00A1F},540000,2021/6/25 0:00,TN9 2NJ,D,N,F,93,NaN,JUDD ROAD,NaN,TONBRIDGE,TONBRIDGE AND MALLING,KENT,A
944725,{CD5A9DCB-FADA-310A-E053-6C04A8C00A1F},175000,2021/7/14 0:00,CT17 9PU,D,N,F,7,NaN,QUEENS AVENUE,NaN,DOVER,DOVER,KENT,A
944726,{CD5A9DCB-FADC-310A-E053-6C04A8C00A1F},250000,2021/5/14 0:00,ME16 8LL,T,N,F,149,NaN,MILTON STREET,NaN,MAIDSTONE,MAIDSTONE,KENT,A

It could be seen that the data is still extremely large, using the entire dataset would be computationally challenging and significantly affect the program running and training time. To improve the time and training efficiency, only 50 thousand sets of data is selected. Besides, the datasets will be randomly selected to avoid data bias and inequity.

In [26]:
df_subset = df.sample(n=3)

df_subset

,Transaction_unique_identifier,Price,Date_of_Transfer,Postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPD_Category_Type
665593,{C6209F5F-1D55-295E-E053-6C04A8C0DDCC},103000,2021/5/26 0:00,NG16 4DR,T,N,F,6,NaN,PEEL STREET,LANGLEY MILL,NOTTINGHAM,AMBER VALLEY,DERBYSHIRE,A
132669,{D93B27B1-1882-3100-E053-6C04A8C08887},360000,2021/8/12 0:00,RM11 3TZ,D,N,F,4,NaN,PROSPECT ROAD,NaN,HORNCHURCH,HAVERING,GREATER LONDON,A
368985,{C3C3F9B5-E9E3-362B-E053-6B04A8C03ACC},149500,2021/2/5 0:00,FY2 9EH,S,N,F,58,NaN,MONTPELIER AVENUE,BISPHAM,BLACKPOOL,BLACKPOOL,BLACKPOOL,A

In [12]:
# remove_n = 842928 # The number of rows with random index

# # Removes these rows from dataframe and returns a subset dataframe.
# drop_indices = np.random.choice(df.index, remove_n, replace=False)
# df_subset = df.drop(drop_indices)

# df_subset

,Transaction_unique_identifier,Price,Date_of_Transfer,Postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPD_Category_Type
17,{C6209F5F-3194-295E-E053-6C04A8C0DDCC},665000,2021/3/25 0:00,CO3 4DT,D,N,F,THE CROFT,NaN,PARSONS HILL,NaN,COLCHESTER,COLCHESTER,ESSEX,A
37,{C6209F5F-33CF-295E-E053-6C04A8C0DDCC},323000,2021/3/31 0:00,CM3 6GJ,D,N,F,8,NaN,MAYLAND QUAY,MAYLAND,CHELMSFORD,MALDON,ESSEX,A
74,{C6209F5F-3622-295E-E053-6C04A8C0DDCC},395000,2021/2/19 0:00,SS17 0FP,S,N,F,21,NaN,ASHRIDGE CLOSE,NaN,STANFORD-LE-HOPE,THURROCK,THURROCK,A
91,{C6209F5F-3634-295E-E053-6C04A8C0DDCC},240000,2021/5/12 0:00,CO14 8LJ,F,N,L,6,NaN,NAZE COURT,NaN,WALTON ON THE NAZE,TENDRING,ESSEX,A
129,{C6209F5F-3873-295E-E053-6C04A8C0DDCC},185000,2021/3/5 0:00,M22 1NG,T,N,F,8,NaN,SUFFIELD WALK,NaN,MANCHESTER,MANCHESTER,GREATER MANCHESTER,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944670,{CD5A9DCB-F866-310A-E053-6C04A8C00A1F},220000,2021/8/31 0:00,CT2 7DE,T,N,F,30,NaN,LONG MEADOW WAY,NaN,CANTERBURY,CANTERBURY,KENT,B
944674,{CD5A9DCB-F86C-310A-E053-6C04A8C00A1F},305000,2021/6/2 0:00,TN23 4QW,D,N,F,11,NaN,BOWENS FIELD,NaN,ASHFORD,ASHFORD,KENT,A
944676,{CD5A9DCB-F86E-310A-E053-6C04A8C00A1F},283000,2021/6/2 0:00,DA1 5LL,T,N,F,103,NaN,TREVITHICK DRIVE,NaN,DARTFORD,DARTFORD,KENT,A
944698,{CD5A9DCB-FAB6-310A-E053-6C04A8C00A1F},250000,2021/8/13 0:00,CT9 5NT,F,N,L,ALEXANDRA COURT,FLAT 5,THE ROYAL SEABATHING,NaN,MARGATE,THANET,KENT,A
944722,{CD5A9DCB-FAD5-310A-E053-6C04A8C00A1F},325000,2021/5/28 0:00,ME10 4AG,T,N,F,19,NaN,HONESTY CLOSE,NaN,SITTINGBOURNE,SWALE,KENT,A

In [8]:
# df["ID"] = df.groupby(["Transaction_unique_identifier"]).ngroup()
# df

In [9]:
# # shift column 'Name' to first position
# first_column = df.pop("ID")

# # insert column using insert(position,column_name,
# # first_column) function
# df.insert(0, "ID", first_column)

# df.head()

From all the available features, the most relevant factors are identified for building the prediction model, and the rest are excluded as they are missing, duplicate or redundant. The variables listed below are those that contribute to house price forecasting. It should be noticed that postcode is decided to represent property location rather than the other position information, which is because postcode is succinct and unique, and it will be convert to longitude and latittude in the later process.
- **Price**: stated sale price of the properties (*dependent variable*)
- **Date of Transfer**: date when the sale is finished, Year/Month/Day_Time (*independent variable*)
- **Postcode**: postcode of th properties (*independent variable*)
- **Property type**: D = Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other  (*independent variable*)
- **Old/New**: the age of the property, Y = a newly built property, N = an established residential building (*independent variable*)
- **Tenure**: tenure of the properties, F = Freehold, L= Leasehold (*independent variable*)

In [13]:
df_subset = df_subset.drop([
        "Transaction_unique_identifier",
        "PAON",
        "SAON",
        "Street",
        "Locality",
        "Town/City",
        "District",
        "County",
        "PPD_Category_Type",],axis=1,)

df_subset.head()

      Price Date_of_Transfer  Postcode Property_Type Old/New Duration
17   665000   2021/3/25 0:00   CO3 4DT             D       N        F
37   323000   2021/3/31 0:00   CM3 6GJ             D       N        F
74   395000   2021/2/19 0:00  SS17 0FP             S       N        F
91   240000   2021/5/12 0:00  CO14 8LJ             F       N        L
129  185000    2021/3/5 0:00   M22 1NG             T       N        F

### 4.2 Data Pre-processing

In order to apply the data for establishing prediction model, pre-processing is required.

Firstly, 

The date of transaction is now represented as the number of months since January 1995 (the earliest month of transaction in our dataset), to simplify the representation of time by months only, instead of month and year.

In [11]:
df_subset['Month'] = pd.DatetimeIndex(df_subset['Date_of_Transfer']).month
df_subset.head()

,ID,Price,Date_of_Transfer,Postcode,Property_Type,Old/New,Duration,Month
0,203435,270000,2021/3/11 0:00,CM18 7JN,T,N,F,3
1,203436,246000,2021/6/4 0:00,SS8 8JW,D,N,F,6
2,203437,250000,2021/4/9 0:00,CM2 8QL,T,N,F,4
3,203438,660000,2021/5/26 0:00,CO6 1QU,D,N,F,5
4,203439,567500,2021/4/9 0:00,SS6 9NS,D,N,F,4

Secondly, the postcode is replaced by latitudes and longitudes to indicate the

 import geocoder
 To capture geographical variation in housing prices more accurately, we decide to represent the address of the property in terms of latitudes and longitudes rather than postcodes. This is preferable to postcodes as neigh- bouring regions do not necessarily share similar postcodes (e.g. SW7 and W8). This process is automated through a Python script which looks up the postcode in a pre-compiled CSV file of London postcodes1, and returns the corresponding latitude and longitude.

In [12]:
# pip install geopandas
# pip install geopy

In [13]:
# import geopy
# from geopy.geocoders import Nominatim
# from geopy.extra.rate_limiter import RateLimiter

In [ ]:

# locator = Nominatim(user_agent='myGeocoder')
# # 1 - conveneint function to delay between geocoding calls
# geocode = RateLimiter(locator.geocode, min_delay_seconds=0.1)
# # 2- - create location column
# df['location'] = df['Postcode'].apply(geocode)
# # 3 - create longitude, laatitude and altitude from location column (returns tuple)
# df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
# # 4 - split point column into latitude, longitude and altitude columns
# df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

In [ ]:
# df.head()

In [ ]:
import geocoder

def get_geocoder(postal_code_from_df):
     # initialize your variable to None
     lat_lng_coords = None
     # loop until you get the coordinates
     while(lat_lng_coords is None):
       g = geocoder.google('{}, Toronto, Ontario'.format(postal_code_from_df))
       lat_lng_coords = g.latlng
     latitude = lat_lng_coords[0]
     longitude = lat_lng_coords[1]
     return latitude,longitude

In [ ]:

df['Latitude'], df['Longitude'] = zip(*df['Postcode'].apply(get_geocoder))

In [ ]:
df['Latitude'] =

Finally, 

Binary categorical variables (build & tenure) are represented using one binary digit (i.e. (Build) 0 = Old, 1 = New / (Tenure) 0 = Leasehold, 1 = Freehold), while property type is represented using three binary digits through the use of dummy coding [43] (i.e. 000 = Detached, 100 = Semi- detached, 010 = Terrace, 001 = Flat).

In [ ]:
# check out the new dataFrame
data.info()

## 5. Methodology

## 6. Results and Discussion

## 7. Conclusion

In [ ]:
end_time = time.time()
run_time = end_time - start_time
print("Total run time: ", run_time, "seconds")

*(word count: )*

## Bibliography